@import "../theme.scss";

#page-home-singleplayer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    h1, span {
      text-align: center;
    }

    nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      a:not(.button) {
        width: 290px;
        display: block;
        text-decoration: none;
        border: solid 5px $details;
        border-radius: .5rem;
        padding: .5rem 1rem;
        text-align: center;
        font-weight: 500;
        text-transform: capitalize;

        @media only screen and (max-width: 720px) {
          border-width: 3px;
        }

        @media only screen and (max-width: 346px) {
          width: 100%;
        }

        &:hover,
        &:focus {
          background-color: $details;
        }

        &.outline {
          border-color: $light;

          &:hover,
          &:focus {
            background-color: $light;
          }
        }
      }

      a.go-back {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: .5rem;
      }
    }
  }
}