@import './theme.scss';

#page-credits {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      figure {
        width: 200px;
        height: 200px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 100%;
        }
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        h2 {
          font-size: 1.5rem;
        }

        p {
          a {
            display: flex;
            align-items: center;
            gap: .5rem;
            text-decoration: none;

            &:hover,
            &:focus {
              span {
                color: $details;
              }
              svg path {
                fill: $details;
              }
            }
          }
        }
      }
    }

    &>a {
      margin-top: 2.5rem;
    }
  }
}