@import './theme.scss';

#page-home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    h1 {
      text-align: center;
    }

    nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      a {
        width: 290px;
        display: block;
        text-decoration: none;
        border: solid 5px var(--details);
        border-radius: .5rem;
        padding: .5rem 1rem;
        text-align: center;
        font-weight: 500;

        @media only screen and (max-width: 720px) {
          border-width: 3px;
        }

        @media only screen and (max-width: 346px) {
          width: 100%;
        }

        &:hover,
        &:focus {
          background-color: var(--details);
        }
      }
    }

    .change-color-theme {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      
      .theme-list {
        padding: 0;
        margin: 0;
        list-style-type: none;

        display: flex;
        gap: .5rem;
        
        button {
          width: 30px;
          height: 30px;
          margin: 0;
          padding: 0;
          cursor: pointer;
        }

        .button-theme-blue {
          background-image: linear-gradient(to right bottom, #006BAD 50%, #003C61 50%);
          border: solid 1px #45A8E6;
        }
        .button-theme-green {
          background-image: linear-gradient(to right bottom, #10C76B 50%, #0A7A42 50%);
          border: solid 1px #5FFBAD;
        }
        .button-theme-red {
          background-image: linear-gradient(to right bottom, #C71B33 50%, #7A111F 50%);
          border: solid 1px #FB6E81;
        }
      }
    }
  }
}