body {
  --textInputColor: #f5f5f5;

  --green: #24c39b;
  --red: #fb4d42;

  --woodColor: #966f33;
  --ropeColor: #8D5118;

  --chances6: #33cc33;
  --chances5: #66ff33;
  --chances4: #ccff33;
  --chances3: #ffff00;
  --chances2: #ffa500;
  --chances1: #fb4d42;
}

// AZUL
body#theme-blue {
  --bg: #1D4761;
  --dark: #003C61;
  --middle: #006BAD;
  --light: #008CE0;
  --details: #45A8E6;
  --details-opaque: rgba(69, 168, 230, .5);
  --bg-input: #073f61;
  --bg-input-reverse: #164461;
}

// VERDE
body#theme-green {
  --bg: #2F7A54;
  --dark: #0A7A42;
  --middle: #10C76B;
  --light: #13FA88;
  --details: #5FFBAD;
  --bg-input: #137a46;
}

// TURQUESA
body#theme-turqoise {
  --bg: #0A423B;
  --dark: #062924;
  --middle: #1E423D;
  --light: #35756D;
  --details: #35C2A3;
  --bg-input: #072f2a;
}

// VERMELHO
body#theme-red {
  --bg: #7A363F;
  --dark: #7A111F;
  --middle: #C71B33;
  --light: #FA2340;
  --details: #FB6E81;
  --bg-input: #7a1a27;
}

// ROXO
body#theme-purple {
  --bg: #800080;
  --dark: #4D004D;
  --middle: #952D95;
  --light: #CC00CC;
  --details: #CC3DCC;
  --bg-input: #5a005a;
}