$bg: #1D4761;
$dark: #003C61;
$midle: #006BAD;
$light: #008CE0;
$details: #45A8E6;

$textInputColor: #29292e;

$green: #24c39b;
$red: #fb4d42;

$woodColor: #966f33;
$ropeColor: #8D5118;

$chances6: #33cc33;
$chances5: #66ff33;
$chances4: #ccff33;
$chances3: #ffff00;
$chances2: #ffa500;
$chances1: #fb4d42;